* {-webkit-padding-start: 0px;}
body {
	padding:0;
	margin:0;

	font-family: "futura-pt";
	z-index: 0;
	font-size:17px;
	-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
background: #f8f8f8 no-repeat url(images/louis.jpg);
background-position: bottom left;
}
a {
	text-decoration: none;
}
h1 {
	font-size:2.5em;
	text-transform: uppercase;
	margin-left:20px;
	font-weight:300;
}
h3 {
	font-size:1.5em;
}
.h4 {
	margin-left:1em;
	padding:0;
}
.clear {
	clear:both;
}

header {
	height:9em;
	background-color: pink;
	background: repeat-x url(images/pattern.jpg);
	background-repeat: repeat-x;
	padding-top:30px;
	padding-left:2em;
	padding-right:2em;
}
header:after {
	clear:both;
}
.colour-break {
	background-color: #fff;
	padding-top:1em;
	padding-bottom:0.5em;
}

.container {
	max-width:960px;
	margin:0 auto;
	position:relative;
	margin-bottom:20px;
		padding-top:2em;
}
.wrapper {
	background: no-repeat url(images/bg.jpg);
	background-position: bottom right;
	min-height:30em;
	background-repeat: no-repeat;
	padding-bottom:6em;
}
.louis {
	position:absolute;
	top:0;
	left:0;
	height:14em;
	width:14em;
	background-color: #000;
	z-index: -1;
	background-size:cover;
}

.logo {
background: no-repeat url(images/logo.png);
float:left;
height:100px;
width:192px;	
}
.navigation {
	float:right;
	width:auto;
	padding-top:0.5em;
}

.navigation li{
display:inline-block;
color:#fff;
padding:0.75em;
font-size:1.1em;
text-transform: uppercase;
font-weight:normal;
}
.navigation li a {
	color:#fff;
}
.navigation li a:hover {
	border-bottom:0.1em dotted;
}
.navigation li a:selected, .navigation li a:active {
font-weight:bold;	
}

/* Footer */
footer {
	background-color: #262626;
	z-index: 10;
	padding-bottom:1em;
	height:7em;
}
footer span {
	float:left;
	color:#fff;
	padding-top:1em;
}
.partner {
	float:right;
	margin-bottom:1em;
	height:auto;
}


/* Store item */
.item {
	margin:1rem;
	width:29%;
	background-color: aqua;
	float:left;
	background: repeat-x url(images/black.jpg);
	background-repeat: repeat-x;
	background-size:cover;
	position:relative;
}
.item h3 {
	margin-bottom:0.2em;
	font-size:1.1em;
}
.info {
	margin-left:1em;
	margin-right:1em;
	margin-bottom:1em;
	color:#fff;
	font-weight:normal;
}
.product-image {
	min-height:10em;
	background-color: black;
}
.buy {
	position:absolute;
	bottom:1em;
	right:1em;
	background-color: #94d5cf;
	height:1em;
	padding:0.5em;
	color:#fff;
	-webkit-box-shadow: 0px 0px 2px 1px #262626;
box-shadow: 0px 0px 2px 1px #262626;
}

.buy:hover {
	background-color: #61bbb5;
}


/** Social styles for homepage **/



.twitter {
	background: #94d5cf bottom right no-repeat url(images/bird.jpg);
	background-position-x: 99%;
	background-position-y: 92%;
	height:100%;
	color:#fff;
}
.twitter p {
	margin-top:0;
	padding-top:0;
}
.facebook {
	background: #4b6391 bottom right no-repeat url(images/facebook.png);
	padding:1em;
	color:#fff;
	background-position-x: 99%;
	background-position-y: 92%;
}
.gold {
	background: #c89e48;
	padding:1em;
	color:#fff !Important;
}
.merch {
	background-color:#1d1a1a;
	padding:1em;
	color:#fff;
}
.blue {
	background-color: #375989;
}



/** Timeline **/

.year {

	padding-top:1em;
	margin-bottom:0.4em;
	z-index: 9;
}
.year:after {
	clear:both;
}
.year-label {
		position:relative;
        float: left;
        clear: both;
        text-align:center;
        width: 100%;
        z-index: 10;
        color: white;
        background: top center no-repeat url(images/year-base.png);
        height:5em;
        margin-top:-2em;
        
}
.year-label span {

            font-size: 1em;
            max-width: 50px;
            display: block;
            margin: 0 auto;
            padding-top:1em;
}


#achievements {
	padding-top:0 !important;
	margin:0 auto;
}
.achievements {
	
}
.line {
	 position: absolute;
        width: 0.6em;
        background-color: #fff;
        height: 100%;
        left: 49.9%;
        z-index: 0;
}
.triangle {
position: absolute;
        background-color: #fff;
        height: 100%;
        left: 30%;
        z-index: 0;
        width:24em;
                background: top center no-repeat url(images/triangle.png);

	
}
.medals {
	height:auto;
	padding-top:1em;
	padding-bottom:2em;
	background-color: #75cac5;
	margin-top:2em;
}
.medal {
	float:left;
	padding-bottom:0.6em;
	width:auto;
	width:100%;
	background-color: #75cac5;
	
}
.event {
	float:left;
	margin-left:1em;
	color:#fff;
	font-size:1.1em;
}
.gold-medal {
	width:1.4em;
	height:1.4em;
	border-radius:50%;
	background-color: #e3c66a;
	float:left;
	margin-left:1em;
}
.silver-medal {
	width:1.4em;
	height:1.4em;
	border-radius:50%;
	background-color: gray;
	float:left;
	margin-left:1em;
}
.bronze-medal {
	width:1.4em;
	height:1.4em;
	border-radius:50%;
	background-color:#a16a39;
	float:left;
	margin-left:1em;
}

.box-left p , .box-right p {
	padding-top:0;
	margin:0;
	margin:0;
	padding:0;
	color:#fff;
	padding-left:1em;
	padding-right:1em;
	font-size: 1.1em;
}
.box-left h4, .box-right h4 {
	color: #fff;
	padding-bottom:0;
	margin:0;
	padding:0;
	font-size:1.6em;
	margin-bottom:0.5em;
	padding-left:1em;
	padding-right:1em;
	line-height:1em;
	
}
.box-image {
	height:12em;
	background-color: aqua;
	margin-bottom:2em;
	background-size: cover;
	background: top center no-repeat url(images/louis-timeline.jpg);
}
.box-left {
	width:10em;
	background: #94d5cf;
	float:left;
	width:20em;
	margin-bottom:1em;
	padding-bottom:2em;
	margin-left:3em;
	z-index: 20;
}

.box-right {
	background: #94d5cf;
	float:right;
	width:20em;
	margin-bottom:0.5em;
	padding-bottom:2em;
	margin-right:3em;
	z-index: 20;
}

/** Blog section **/
#blog {
background: bottom left no-repeat url(images/louis_smith_signature.png);

}
article {
margin-bottom:6em;
}	
article img {
	max-width: 100%;
	overflow:hidden;
	margin-bottom:2em;
}
article p {
	margin-top:0;
}
article p + p {
text-indent: 1em;
}
article p + img {
	margin-top:2em;
}
article h2 {
	margin:0 !Important;
	padding:0;
	font-size:2em;
	text-transform: uppercase;
}
.news-left {
	width:70%;
	float:left;
}
.news-right {
	width:25%;
	float:right;
}
.news-right:first-child {
	margin-top:2em;
}
.news-right ul h3 {
	text-transform: uppercase;
}
.news-right li {
	margin-top:0.3em;
	list-style-position: inside;
	list-style-type: none;
}
blockquote {
	float:left;
	text-align: right;
	max-width:40%;
	text-transform: uppercase;
	font-weight:bold;
	font-size:2em;
	padding:0;
	margin:0;
	margin-right:1em;
	clear:left;
	line-height:1em;
	padding-bottom:3em;
}



